on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Determine Folder
        id: check_folder
        run: echo "::set-output name=folder::$(basename "$(pwd)")"

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci

      - run: |
          touch .env
          echo "${{secrets.MY_SECRET}}" > .env

      - name: Install PM2
        run: npm install -g pm2

      - run: |
          if [ "${{ steps.check_folder.outputs.folder }}" = "backend" ]; then
            pm2 restart index.js
          else
            echo "Skipping PM2 restart for frontend."
          fi
